:root {
	--color-black-200: #212529;
	--color-paragraph: #757f95;
	--color-white: #fff;
	--color-black-250: #141414;
	--color-black-300: #111111;
	--color-gray-100: #757f95;
	--color-brown: #620707;
	--color-red-shade: #f80c33;
	--color-red-shade-2: #ed2b2b;
	--color-yellow-shade: #f9d004;
	--color-border: rgb(223 223 223 / 0.84);
	--box-shadow: rgb(0 0 0 / 5%);
	--color-green: #008826;
	--color-button: #2c2c2c;

	--transition: all 0.5s ease;
	--transition-linear: all 0.3s linear;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
	border: 0;
	line-height: 1.6;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
img {
	display: block;
	width: 100%;
}
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.8rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

input {
	display: block;
	width: 100%;
	height: 3rem;
	padding: 0 0.85rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-border);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}
textarea {
	border: 1px solid var(--color-border);
	padding: 0.85rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

/* ---- Reusable Class ---- */

.container {
	width: 1140px;
	margin: 0 auto;
}

.section {
	padding: 7rem 0;
}

.section-pad {
	padding-bottom: 7rem;
}

.grid-column-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.3rem;
}

.grid-column-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.3rem;
}

.grid-column-four {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.3rem;
}

.mr-top {
	margin-top: 5rem;
}

.btn {
	display: inline-block;
	background: var(--color-red-shade);
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	font-weight: 400;
}

.btn i {
	vertical-align: middle;
}

.site-heading {
	text-align: center;
}

.color-brown {
	color: var(--color-brown);
}

.inner-banner-image {
	background: url('../img/image_about.png') no-repeat center center;
	background-size: cover;
	padding: 10rem 0;
	position: relative;
	z-index: 1;
}

.inner-banner-image-sec {
	background: url('../img/image_about.png') no-repeat center center;
	background-size: cover;
	height: 25rem;
	position: relative;
	z-index: 1;
}

.inner-banner-content h5 {
	font-size: 2.8rem;
	color: var(--color-white);
}

.bg-bg-color {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background: rgb(0 0 0 / 44%);
	display: flex;
	align-items: center;
}

.detail-sec .bg-bg-color {
	justify-content: center;
}

/* ---- Header Section ---- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--color-white);
	z-index: 99;
	transition: var(--transition);
}

header.active {
	box-shadow: 0 0 15px var(--color-gray-100);
	/* border: 1px solid var(--color-border); */
}

.header-main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
}

.header-links-conatiner {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 2rem;
}

nav ul li a {
	font-weight: 600;
	color: var(--color-black-250);
}

.get-in-touch {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 0.5rem;
	color: var(--color-white);
	background: var(--color-red-shade);
}

.get-in-touch i {
	font-size: 1rem;
}

.menu-bars {
	display: none;
}

.close {
	display: none;
}

.header-overlay {
	display: none;
}

/* ---- Hero Section ---- */

.bg-image {
	background: url('../img/banner_top.png') no-repeat center center;
	background-size: cover;
	/* height: 100vh; */
}

.hero-content-box {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 35rem;
	color: var(--color-white);
}

.hero-content-box p {
	margin: 1rem 0 2.5rem 0;
}

.hero-links-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.btn-one {
	color: var(--color-white);
}

.btn-two {
	background: var(--color-white);
	color: var(--color-brown);
}

/* ---- USP Section ---- */

.card {
	background: var(--color-white);
	box-shadow: 0 0 5px 5px #0000000d;
	padding: 1.5rem 1rem;
	text-align: center;
	border-radius: 0.8rem;
	transform: translateY(0);
	transition: var(--transition);
}

.card:hover {
	transform: translateY(-16px);
}
.card h3 {
	color: var(--color-brown);
	margin-bottom: 1rem;
	font-size: 1.3rem;
	font-weight: 500;
}

.card p {
	color: var(--color-gray-100);
	line-height: 1.7;
	max-width: 300px;
	margin: 0 auto;
	font-size: 1rem;
}

.our-usp-image {
	height: 4rem;
	width: 4rem;
	margin: 0 auto 1rem;
	transform: rotateY(0);
	transition: var(--transition);
}

.our-usp-image img {
	width: auto;
}

/* ---- Sweets Section ---- */
.sweets-slider .item {
	padding: 0 1rem;
}
.sweets-slider .slick-list {
	padding: 3rem 0.5rem !important;
}

.sweets-slider .slick-dots {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.sweets-slider .slick-dots li button {
	font-size: 0;
	height: 1rem;
	width: 1rem;
	background: transparent;
	border-radius: 2rem;
	border: 2px solid var(--color-brown);
	cursor: pointer;
}

.sweets-slider .slick-dots li.slick-active button {
	background: var(--color-brown);
}

.sweets-image {
	text-align: center;
}
.sweets-image img {
	width: 220px;
	margin: auto;
}

.sweets-sec .site-heading h2 {
	margin-bottom: 0;
}

.sweets-sec .card {
	text-align: left;
	/* margin-right: 1.2rem; */
	cursor: grab;
}

.sweets-sec .card h3 {
	font-weight: bold;
}

.sweets-sec .card p {
	max-width: 100%;
	margin-bottom: 1.5rem;
}

.sweets-sec .card:hover {
	transform: translateY(0);
}

.sweets-sec .card .btn {
	background: var(--color-brown);
	color: var(--color-white);
	transition: var(--transition);
}

.sweets-sec .card .btn:hover {
	background: var(--color-red-shade);
}

/* ---- About Section ---- */

.about-bg-image {
	background: url('../img/image_about.png') no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 35rem;
	color: var(--color-white);
}

.about-sec .site-heading {
	text-align: left;
}

.site-title-tagline {
	display: block;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.about-content p {
	margin-bottom: 1rem;
}

.about-content ul {
	margin-bottom: 1.5rem;
}

.about-content ul li {
	margin-bottom: 0.5rem;
}

.about-content .about-btn {
	background: var(--color-white);
	color: var(--color-brown);
	transition: var(--transition);
	display: inline-block;
}

.about-content .about-btn:hover {
	background: var(--color-red-shade);
	color: var(--color-white);
}

.products {
	background: #f9d004;
	padding: 5rem 0;
}

.products-category-container ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.products-category-container ul li {
	border-right: 1px dashed var(--color-brown);
	padding-right: 30px;
}

.products-category-container ul li:last-child {
	border-right: none;
}

.product-category-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-category-box h4 {
	color: var(--color-brown);
	font-size: 4rem;
}

.product-category-box p {
	font-size: 1.4rem;
	font-weight: 400;
}

/* ---- FAQ'S Section ---- */

.faqs-content .site-title-tagline {
	color: var(--color-black-250);
}

.faqs-content .site-heading {
	text-align: left;
}

.faqs-content h2 {
	color: var(--color-black-250);
}

.faqs-content p {
	margin-bottom: 1.5rem;
}

.faq-image-container img {
	width: 100%;
	border-radius: 0.8rem;
}

.accordian {
	margin-bottom: 1.5rem;
}

.accordian .contentBx {
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0 0px 5px #c1bebe;
}

.accordian .contentBx .label {
	position: relative;
	padding: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--color-black-250);
	font-weight: 600;
}

.ques-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 0.5rem;
	background-color: var(--color-brown);
	color: var(--color-white);
}

.ques-icon i {
	font-size: 1.2rem;
}

.accordian .contentBx .label::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5rem;
	color: var(--color-paragraph);
}

.accordian .contentBx.active .label::before {
	content: '-';
}

.accordian .contentBx .acc-content {
	position: relative;
	height: 0;
	overflow: hidden;
	/* transition: var(--transition-linear); */
}

.accordian .contentBx.active .acc-content {
	height: inherit;
	padding: 0 1rem 2rem;
}

/* ---- Testimonial Section ---- */
.testimonial-slider .item {
	padding: 0 0.5rem;
}
.testimonial-slider .slick-dots {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.testimonial-slider .slick-dots li button {
	font-size: 0;
	height: 1rem;
	width: 1rem;
	background: transparent;
	border-radius: 2rem;
	border: 2px solid var(--color-white);
	cursor: pointer;
}

.testimonial-slider .slick-dots li.slick-active button {
	background: var(--color-white);
}
.testimonial-slider .slick-list {
	padding: 3rem 0 !important;
}

.testimonial-bg-image {
	background: url('../img/image testimonial.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 6rem 0;
}

.testimonial-sec .site-heading {
	text-align: center;
	color: var(--color-white);
	margin-bottom: 1.5rem;
}

.testimonial-card {
	background: var(--color-white);
	padding: 4rem 1.5rem 1.5rem;
	border-radius: 0.5rem;
	position: relative;
	cursor: grab;
}

.test-image {
	position: absolute;
	top: -2rem;
	left: 1.5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 5rem;
	overflow: hidden;
}

.test-image img {
	width: 100%;
}

.testimonial-card h3 {
	margin-bottom: 0.5rem;
	font-size: 1.3rem;
	font-weight: 500;
}

.testimonial-card p {
	margin-bottom: 0.5rem;
	color: var(--color-paragraph);
}

.ratings i {
	color: #f9d004;
	font-size: 1.2rem;
}

/* ---- Gallery Section ---- */

.gallery-sec .site-heading {
	text-align: center;
}

.gallery-image {
	position: relative;
	display: block;
}

.gallery-image img {
	width: 100%;
	display: block;
}

.search {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2.5rem;
	width: 2.5rem;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: var(--color-white);
	border-radius: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);
	cursor: pointer;
}

.search i {
	font-size: 1.1rem;
	color: var(--color-brown);
}

.gallery-image:hover .search {
	visibility: visible;
	opacity: 1;
}

/* ---- Blog Section ---- */

.blog-image-box {
	height: 15rem;
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.blog-image-box img {
	width: 100%;
}

.blog-info {
	display: flex;
	align-items: center;
	gap: 5rem;
	margin-bottom: 1.5rem;
	padding-bottom: 0.7rem;
	border-bottom: 1px solid var(--color-border);
}

.blog-post-detail {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.blog-post-detail span i {
	color: var(--color-paragraph);
}

.blog-post-detail p {
	color: var(--color-black-250);
}

.blog-content {
	margin-bottom: 1.5rem;
}

.blog-content a {
	font-size: 1.2rem;
	color: var(--color-black-250);
	font-weight: 600;
	transition: var(--transition);
}

.blog-content a:hover {
	color: var(--color-brown);
}

.blog-sec .read-btn {
	background: var(--color-brown);
	color: var(--color-white);
	transition: var(--transition);
}

.blog-sec .read-btn:hover {
	background: var(--color-red-shade);
}

/* ---- Footer Section ---- */

footer {
	/* background: var(--color-black-300); */
	background: #0c0c0c;
}

.footer-main-container {
	padding: 3rem 0;
}

.footer-info-conatiner {
	display: flex;
}

.company-info {
	width: 30%;
}

.ft-links {
	width: 23.333%;
	color: var(--color-white);
}

.ft-logo {
	margin-bottom: 1.5rem;
}
.ft-logo img {
	width: 80%;
}

/* .ft-logo a {
	color: var(--color-white);
	font-size: 2rem;
} */

.address {
	display: flex;
	gap: 0.5rem;
}

.company-info ul li {
	margin-bottom: 1rem;
}

.company-info ul li a {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-right: 1rem;
	color: var(--color-white);
}

.company-info ul li a span i {
	font-size: 1.5rem;
}

.company-info ul li a:first-child {
	align-items: baseline;
}

.ft-links h3 {
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}

.ft-links ul li a {
	color: var(--color-white);
}

.ft-links ul li {
	margin-bottom: 1rem;
}

.ft-links p {
	margin-bottom: 1rem;
}

.ft-links input {
	display: block;
	width: 100%;
	padding: 0.7rem 0.6rem;
	border-radius: 0.25rem;
	margin-bottom: 0.7rem;
}

.subscribe-btn {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.7rem;
	border-radius: 0.25rem;
	font-weight: 600;
	background: var(--color-red-shade);
	color: var(--color-white);
	cursor: pointer;
	font-size: 1rem;
}

.copy-right-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--color-white);
	padding: 1.3rem 0;
}

.copy-right-box p {
	color: var(--color-white);
}

.social-links ul {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.social-links ul li a {
	display: flex;
	justify-content: center;
	background: rgb(255 255 255 / 15%);
	height: 3rem;
	width: 3rem;
	border-radius: 5rem;
	align-items: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 300;
}

/* ---- Contact Section ---- */

.contact-info-box {
	text-align: center;
	border: 3px solid var(--color-brown);
	padding: 1.5rem 2rem;
	box-shadow: 0 0 40px 5px var(--box-shadow);
	border-radius: 1rem;
}

.contact-info-icon {
	height: 4rem;
	width: 4rem;
	background: var(--color-brown);
	color: var(--color-white);
	border-radius: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 1.5rem;
}

.contact-info-icon i {
	font-size: 1.8rem;
}

.contact-info-box h3 {
	color: var(--color-brown);
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.contact-info-box p {
	color: var(--color-black-250);
}

.form-main-container {
	box-shadow: 0 0 40px 5px var(--box-shadow);
	padding: 1.5rem;
	border-radius: 1rem;
	background: var(--color-white);
}
.form-main-container h3 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

.form-main-container p {
	color: var(--color-gray-100);
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 2rem;
}

.form-image img {
	width: 100%;
	border-radius: 15px 50% 50% 15px;
}

.form-box {
	margin-bottom: 1rem;
}

.form-box input {
	display: block;
	width: 100%;
	height: 3rem;
	padding: 0 0.85rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-border);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

.form-box input::placeholder {
	color: var(--color-paragraph);
	font-size: 1rem;
}

.form-box input:focus {
	outline: 1px solid var(--color-brown);
}

.conatct-textarea textarea {
	border: 1px solid var(--color-border);
	padding: 0.85rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.conatct-textarea textarea::placeholder {
	color: var(--color-paragraph);
	font-size: 1rem;
}

.conatct-textarea textarea:focus {
	outline: 1px solid var(--color-brown);
}

.send-btn {
	background: var(--color-brown);
	color: var(--color-white);
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition);
	font-family: 'Poppins', sans-serif;
}

.send-btn:hover {
	background: var(--color-red-shade);
}

/* ---- About Page Section ---- */

.about-main-section .grid-column-two {
	gap: 5rem;
}

.about-image {
	height: 30rem;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 0.5rem;
}

.about-page-container .site-heading {
	text-align: left;
}

.about-page-container .site-heading h2 {
	margin-bottom: 1rem;
}

.about-page-container p {
	margin-bottom: 1rem;
	color: var(--color-paragraph);
}

.about-page-container p:last-child {
	margin-bottom: 0;
}

.abt-product-page-sec {
	padding-top: 4rem;
}

/* ---- About Page Product Quality Section ---- */

.grid-column-products {
	display: flex;
	gap: 5rem;
}

.quality-content {
	width: 55%;
}

.quality-vedieo {
	width: 45%;
}

.quality-content .site-heading {
	text-align: left;
}

.quality-content p {
	color: var(--color-paragraph);
	margin-bottom: 1rem;
}

.customer-support {
	background: var(--color-yellow-shade);
	border-radius: 1rem;
	color: var(--color-white);
	position: relative;
	padding: 1.5rem 5rem 1.5rem 2.5rem;
	width: 30rem;
}

.customer-support p {
	color: var(--color-white);
	font-size: 1.1rem;
}

.phone-icon {
	position: absolute;
	top: 50%;
	right: -38px;
	height: 5rem;
	width: 5rem;
	border: 3px solid var(--color-white);
	border-radius: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
	background: var(--color-yellow-shade);
}

.phone-icon i {
	font-size: 1.3rem;
}

.customer-support h4 {
	font-size: 2rem;
}

.vedeio-box {
	position: relative;
}

.vedeio-box a {
	display: block;
}

.vedeio-box img {
	border-radius: 1rem;
}

.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 5rem;
	border: 3px solid var(--color-white);
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}

.play-icon i {
	font-size: 1.5rem;
	color: var(--color-white);
}

/* ---- About Page Services Section ---- */

.abt-page-service-sec .site-heading {
	margin-bottom: 5rem;
}

.abt-page-service-sec .site-heading h2 {
	margin-bottom: 0rem;
}

.abt-page-service-sec .site-heading p {
	color: var(--color-paragraph);
	max-width: 43rem;
	margin: auto;
}

.client-box .our-usp-image {
	height: auto;
	width: 100%;
}

.client-box .our-usp-image img {
	margin: auto;
	border-radius: 8rem;
}

/* ---- About Page OUR Team Section ---- */

.our-team-sec .site-heading {
	margin-bottom: 5rem;
}

.our-team-sec .site-heading h2 {
	margin-bottom: 0rem;
}

.our-team-sec .site-heading p {
	color: var(--color-paragraph);
	max-width: 43rem;
	margin: auto;
}

.our-team-sec .client-box .our-usp-image {
	height: 19rem;
	width: 100%;
	background: var(--color-paragraph);
}

.our-team-sec .client-box .our-usp-image img {
	margin: initial;
	border-radius: initial;
	width: 100%;
}

.our-team-sec .client-box h3 {
	margin-bottom: 0rem;
}

.our-team-sec .card {
	padding: 0 0 1.5rem;
	overflow: hidden;
}

/* ---- Detalis Page Section ---- */

.detail-sec .inner-banner-content {
	padding: absolute;
	z-index: 5;
}

.detail-sec .inner-banner-content h5 {
	text-align: center;
}

.detail-sec .beadcrums ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}

.detail-sec .beadcrums ul li {
	color: var(--color-red-shade-2);
}

.detail-sec .beadcrums ul li a {
	color: var(--color-red-shade-2);
}

/* ---- Details Cholcolate Section ---- */

.details-chocolate-sec .grid-column-two {
	gap: 5rem;
}

.choloate-image-container {
	border: 2px solid var(--color-border);
	border-radius: 1rem;
}

.chocolate-name h2 {
	margin-bottom: 0rem;
	font-size: 2.5rem;
}

.chocolate-name span {
	display: block;
	color: var(--color-brown);
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 0.5rem;
}

.chocolate-content-container p {
	color: var(--color-paragraph);
	margin-bottom: 2rem;
}

.special-offer-conatiner {
	border: 1px solid var(--color-brown);
	padding: 1.5rem 1rem 1rem;
	position: relative;
	margin-bottom: 1rem;
}

.special-offer {
	position: absolute;
	top: -1rem;
	left: 1rem;
	padding: 0.2rem 0.8rem;
	background: var(--color-white);
}

.special-offer span {
	color: var(--color-brown);
}

.special-offer-conatiner ul {
	padding-left: 1rem;
}

.special-offer-conatiner ul li {
	position: relative;
	color: var(--color-brown);
}

.special-offer-conatiner ul li::before {
	content: '\2022';
	color: var(--color-brown);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.placeholder span {
	display: block;
	color: var(--color-green);
	font-weight: 600;
	margin-bottom: 1rem;
}

.order-btn {
	background: var(--color-button);
	border-radius: 0;
	padding: 1.2rem 4rem;
	cursor: pointer;
	color: var(--color-white);
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}
.order-info {
	margin-top: 5rem;
}

.order-box {
	text-align: center;

	border: 1px solid var(--color-border);
	padding: 1rem;
}

.order-box p {
	color: var(--color-black-300);
	font-weight: 400;
}

.oder-image {
	margin-bottom: 1rem;
}

.oder-image img {
	width: 2.5rem;
	margin: auto;
}

.confirm-image {
	position: relative;
	z-index: 2;
}

/* .confirm-image img {
	width: 3.5rem;
	/* margin: auto; */
} */

.check-image {
	position: absolute;
	top: 6px;
	left: 83px;
	height: 2rem;
	width: 2rem;
	z-index: -1;
}

.check-image img {
	width: 1rem;
}

/* ---- More Information About Product Section ---- */

.flex-column-two {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.more-info-product-content {
	width: 65%;
}

.more-info-product-image {
	width: 35%;
}

.info-product-image {
	height: 15rem;
	background: var(--color-gray-100);
	border-radius: 1rem;
}
.more-info-sec .site-heading {
	text-align: left;
}

.more-info-sec .site-heading span {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	letter-spacing: 0.1rem;
	color: var(--color-paragraph);
}

.more-info-sec .site-heading h2 {
	font-size: 1.8rem;
}

.sub-content-one p {
	color: var(--color-paragraph);
}

.deliver-content h5 {
	font-size: 1.1rem;
	margin-bottom: 0.3rem;
}

.deliver-content ul li {
	margin-bottom: 0.3rem;
	color: var(--color-paragraph);
}

.need-more-info-content h5 {
	font-size: 1.1rem;
	margin-bottom: 0.3rem;
}

.need-more-info-content ul li {
	margin-bottom: 0.3rem;
	color: var(--color-paragraph);
}

.sub-content-container-one {
	margin-bottom: 1.5rem;
}

.sub-content-two ul li {
	color: var(--color-paragraph);
	margin-bottom: 0.5rem;
}

.sub-content-container-one .grid-column-two {
	gap: 2.5rem;
}

/* ---- Tabbers Section ---- */

.taber-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
	padding: 1rem;
	margin-bottom: 5rem;
}

.tab-btn {
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	background: transparent;
	color: var(--color-black-300);
	font-family: 'Poppins', sans-serif;
	border-radius: 0.4rem;
}

.tab-btn.active {
	background: var(--color-red-shade);
	color: var(--color-white);
}

.tab-content-box h5 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.tab-content-box p {
	color: var(--color-paragraph);
	margin-bottom: 0.8rem;
}

.tab-content-box p:last-child {
	margin-bottom: 0rem;
}

.content-box-container .tab-content-container {
	display: none;
}

.content-box-container .tab-content-container.active {
	display: block;
}

.tab-sub-content {
	margin-bottom: 5rem;
}

.tab-content-container .tab-sub-content:last-child {
	margin-bottom: 0rem;
}

.tab-sub-content .grid-column-two {
	gap: 3rem;
}

.more-information-container .site-heading {
	text-align: left;
}

.more-information-container .site-heading span {
	margin-bottom: 0.5rem;
	color: var(--color-paragraph);
	letter-spacing: 1px;
	font-size: 0.9rem;
}

.more-information-container .site-heading h2 {
	font-size: 1.5rem;
	color: var(--color-black-300);
}

.flex-column-two {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.need-more-content-box {
	width: 60%;
}

.need-more-image-container {
	width: 40%;
}

.need-more-image {
	height: 17rem;
	border-radius: 0.5rem;
	background: var(--color-border);
}

.need-more-content p {
	color: var(--color-paragraph);
	margin-bottom: 1.5rem;
}

.need-more-content ul li {
	color: var(--color-paragraph);
	margin-bottom: 0.7rem;
}

.delivery-content-box {
	margin-bottom: 2.7rem;
}

.delivery-content-box h4 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.delivery-content-box ul li {
	margin-bottom: 0.5rem;
	color: var(--color-paragraph);
}

.delivery-more-info-box h4 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.delivery-more-info-box ul li {
	margin-bottom: 0.5rem;
	color: var(--color-paragraph);
}

/* ---- PopUp Section ---- */

.overlay {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 160;
	background: rgb(0 0 0 / 40%);
	padding: 80px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	display: none;
}

.formBox {
	max-width: 500px;
	background: #fff;
	padding: 50px;
	margin: auto;
	position: relative;
	border-radius: 5px;
}

.st-title {
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 15px;
}

.closBtn {
	font-size: 35px;
	position: absolute;
	top: 15px;
	right: 23px;
	cursor: pointer;
}

.formBox form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* ---- Become Partner Page ---- */

/* ---- Partner inner Banner Section ---- */

.partner-sec .inner-banner-content h5 {
	font-size: 3.3rem;
	color: var(--color-white);
}

.partner-sec .inner-banner-content p {
	color: var(--color-white);
	max-width: 40rem;
}

/* ---- Partner Section ---- */

.brach-partner-sec .grid-column-two {
	gap: 5rem;
}

.partner-content-container .site-heading {
	text-align: left;
}

.partner-content-container .site-heading h2 {
	margin-bottom: 0.5rem;
}

.partner-sub-content-box p {
	color: var(--color-paragraph);
	margin-bottom: 1rem;
}

.partner-content-box ul li {
	color: var(--color-paragraph);
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.partner-content-box ul li i {
	color: var(--color-red-shade);
}

.brach-one-image {
	position: relative;
}

/* .brach-one-image img {
	width: 85%;
} */

.branch-two-image {
	position: absolute;
	bottom: -14rem;
	right: -7rem;
}

.partner-btn {
	background: var(--color-button);
	border-radius: 0.5rem;
	padding: 1.2rem 2.5rem;
	color: var(--color-white);
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: var(--transition);
	display: block;
	margin-top: 1rem;
	text-transform: uppercase;
}

.partner-btn:hover {
	background: var(--color-red-shade);
}

/* ---- Partners Benfits Section ---- */

.benefits-sec .grid-column-two {
	gap: 3rem;
	align-items: center;
}

.benefits-content-container .site-heading {
	text-align: left;
}

.benefits-content-container p {
	color: var(--color-paragraph);
	margin-bottom: 1rem;
}

.benefit-content-image {
	width: 3rem;
	height: 3rem;
}

.benefit-content-image img {
	height: 3rem;
}

.benefit-content-image {
	margin-bottom: 1rem;
}

.benefit-content-box h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

/* --- Partners Form Section --- */

.partner-form-container {
	max-width: 50rem;
	margin: auto;
}

.partner-form-container .form-box {
	margin-bottom: 1.8rem;
}

.form-box label {
	display: block;
	margin-bottom: 0.5rem;
}
